*.wav
*.mp3
*.ogg
*.bmp
*.jpg
*.wmv
*.mpg
*.zip
*.rar
*.7z
*.txt
*.webm
*.png
*.jpg
*.gif

/test/

# created by git-ignore
.DS_Store
.AppleDouble
.LSOverride

# Icon must ends with two \r.
Icon

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# iBMSC
*TempBMS.bms
/sox/
